doctype html
html
	head
	meta(charset='utf-8')
	title NascentVR
	meta(name='description', content='')
	script(src="assets/js/main.js")
	link(rel="stylesheet", href="assets/css/main.css")

	body
		img(class="logo" src="assets/images/logo.png")

		#intro
			
			.intro-content
				h1 NM:VR
				p This is a demo of the Nascent VR MoA.
				p This Mechanism of Action covers poly ADP ribose polymerase (PARP).
				button#start Begin


		a-scene(visible="false" vr-mode-ui="enabled: false")
			a-assets
				
				audio#vo1(src="assets/sound/parp-1.mp3" autoplay="false")

				img#background(src="assets/images/background.jpg" crossorigin)
				img#parp_texture(src="assets/models/parp_tex.png" crossorigin)

				a-asset-item#parp_model(src="assets/models/parp_uv.obj" crossorigin)
				a-asset-item#parp_mat(src="assets/models/parp_uv.mtl" crossorigin)
				a-asset-item#dna_model(src="assets/models/dna.obj" crossorigin)
				a-asset-item#dna_material(src="assets/models/dna.mtl" crossorigin)

				a-asset-item#dna_single_model(src="assets/models/dna_single_broken.obj" crossorigin)
				a-asset-item#dna_single_material(src="assets/models/dna_single_broken.mtl" crossorigin)

				img#damage_label(src="assets/images/damage_label.png" crossorigin)

			a-sky(src="#background")

			a-entity#stage
				
				a-entity#scene-1(visible="true")
					a-sound(src="#vo1" autoplay="false")
					a-animation#scene1move(attribute="position" begin="moveOut" to="-20 0 0")
					
					a-entity#parp(position="-10 1.5 0" obj-model="obj: #parp_model;mtl:#parp_mat;" material="shader: flat; color: white; src: #parp_texture")
						a-animation#parp(begin="scene-start" attribute="position" to="0 0 0" delay="2000" dur="5000" easing="ease-out")
						a-animation(attribute="rotation" to="0 360 0" dur="12000" repeat="indefinite" easing="linear")
						a-animation#parp_exit(begin="scene-start" attribute="position" delay="10000" from="0 0 0" to="20 -5.5 0" dur="5000" easing="linear")

					a-entity#parp-inhibitor(position="-10 1.5 0" obj-model="obj: #parp_model;mtl:#parp_mat;" material="shader: flat; color: white; src: #parp_texture")
						a-sphere#inhibitor(position="0.35 0.15 -0.20" color="#16b44b" radius="0.3")
						a-animation(begin="scene-start" attribute="position" to="0 0 0" delay="12000" dur="5000" easing="linear")
						a-animation(attribute="rotation" to="0 360 0" dur="12000" repeat="indefinite" easing="linear")
						a-animation#parp_inhibitor_exit(begin="inhibitor_exit" attribute="position" delay="20000" from="0 0 0" to="20 -5.5 0" dur="5000" easing="linear")

					a-entity#dna_single_broken(position="0 0 0" obj-model="obj: #dna_single_model;mtl: #dna_single_material" material="shader: flat; color: white;" rotation="0 0 60")
						a-image(src="#damage_label" height="1.5" width="2.3" rotation="0 0 -71" position="-0.76 0.44 0.68")
					
					a-entity#dna(visible="false" position="0 0 0" obj-model="obj: #dna_model;mtl: #dna_material" material="shader: flat; color: white;" rotation="0 0 60")

				a-entity#scene-2(position="20 0 0" visible="false")
					a-animation#scene2move(attribute="position" begin="disable" to="0 0 0" easing="linear")
					
					a-entity#dna_single_broken(position="0 0 0" obj-model="obj: #dna_single_model;mtl: #dna_single_material" material="shader: flat; color: white;" rotation="0 0 60")
						a-image(src="#damage_label" height="1.5" width="2.3" rotation="0 0 -71" position="-0.76 0.44 0.68")

			
			a-camera#camera(position="0 2 5" target="#stage" distance="5" orbit-controls look-controls-enabled=false wasd-controls-enabled=true)
