doctype html
html
	head
	meta(charset='utf-8')
	title NascentVR
	meta(name='description', content='')
	script(src="assets/js/main.js")
	link(rel="stylesheet", href="assets/css/main.css")

	body
		img(class="logo" src="http://assets.studiozero.xyz/nascent/images/logo.png")

		#intro
			
			.intro-content
				h1 NM:VR
				p This is a demo of the Nascent VR MoA.
				p This Mechanism of Action covers poly ADP ribose polymerase (PARP).
				button#start Begin
				progress(value="0" max="100")


		#outro(style="display:none;")
			.intro-content
				h1 NM:VR
				h3 More info about PARP
				hr
				ul
					li
						a(href="https://www.ncbi.nlm.nih.gov/pubmed/22788767" target="_blank") Role of PARP inhibitors in cancer biology and therapy.
					li
						a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4348139" target="_blank") An update on PARP inhibitors for the treatment of cancer

				hr

				| Presented by 
				a(href="https://nascentmc.com" target="_blank") Nascent Medical


		a-scene(visible="false" vr-mode-ui="enabled: false")
			a-assets(timeout="15000")
				
				audio#vo1(src="http://assets.studiozero.xyz/nascent/sound/parp-1.mp3" autoplay="false" crossorigin)
				audio#vo2(src="http://assets.studiozero.xyz/nascent/sound/parp-2.mp3" autoplay="false" crossorigin)

				img#background(src="http://assets.studiozero.xyz/nascent/images/background.jpg" crossorigin)
				img#parp_texture(src="http://assets.studiozero.xyz/nascent/models/parp_tex.png" crossorigin)

				a-asset-item#parp_model(src="http://assets.studiozero.xyz/nascent/models/parp_uv.obj" crossorigin)
				a-asset-item#parp_mat(src="http://assets.studiozero.xyz/nascent/models/parp_uv.mtl" crossorigin)
				a-asset-item#dna_model(src="http://assets.studiozero.xyz/nascent/models/dna.obj" crossorigin)
				a-asset-item#dna_material(src="http://assets.studiozero.xyz/nascent/models/dna.mtl" crossorigin)

				a-asset-item#dna_single_model(src="http://assets.studiozero.xyz/nascent/models/dna_single_broken.obj" crossorigin)
				a-asset-item#dna_single_material(src="http://assets.studiozero.xyz/nascent/models/dna_single_broken.mtl" crossorigin)

				a-asset-item#dna_broken_model(src="assets/models/dna_broken.dae" crossorigin)

				img#damage_label(src="http://assets.studiozero.xyz/nascent/images/damage_label.png" crossorigin)
				img#inhibitor_label(src="http://assets.studiozero.xyz/nascent/images/inhibitor_label.png" crossorigin)

			a-sky(src="#background")

			a-entity#stage
				
				a-entity#scene-1(visible="true")
					a-animation#scene1move(attribute="position" begin="moveOut" to="-20 0 0")
					
					a-entity#parp(position="-10 1.5 0" obj-model="obj: #parp_model;mtl:#parp_mat;" material="shader: flat; color: white; src: #parp_texture")
						a-animation#parp(begin="scene-start" attribute="position" to="0 0 0" delay="2000" dur="5000" easing="ease-out")
						a-animation(attribute="rotation" to="0 360 0" dur="12000" repeat="indefinite" easing="linear")
						a-animation#parp_exit(begin="scene-start" attribute="position" delay="10000" from="0 0 0" to="20 -5.5 0" dur="5000" easing="linear")

					a-entity#parp-inhibitor(position="-10 1.5 0" obj-model="obj: #parp_model;mtl:#parp_mat;" material="shader: flat; color: white; src: #parp_texture")
						a-animation(begin="scene-start" attribute="position" to="0 0 0" delay="10000" dur="5000" easing="linear")
						a-animation(attribute="rotation" to="0 360 0" dur="12000" repeat="indefinite" easing="linear")
						a-animation#parp_inhibitor_exit(begin="scene-start" attribute="position" delay="15000" from="0 0 0" to="20 -5.5 0" dur="5000" easing="linear")

						a-sphere#inhibitor(position="0.35 0.15 -0.20" color="#16b44b" radius="0.3")
							a-image(src="#inhibitor_label" height="1.5" width="2.3" rotation="-180 0 -180" position="0 0.85 0")

					a-entity#dna_single_broken(position="0 0 0" obj-model="obj: #dna_single_model;mtl: #dna_single_material" material="shader: flat; color: white;" rotation="0 0 60")
						a-image(src="#damage_label" height="1.5" width="2.3" rotation="0 0 -71" position="-0.76 0.44 0.68")
					
					a-entity#dna(visible="false" position="0 0 0" obj-model="obj: #dna_model;mtl: #dna_material" material="shader: flat; color: white;" rotation="0 0 60")


				//- Scene 2

				a-entity#scene-2(position="20 0 0" visible="false")
					a-animation#s2Entrance(attribute="position" begin="moveIn" to="0 0 0" easing="linear")
					a-animation#s2Exit(attribute="position" begin="moveOut" to="-20 0 0" easing="linear")

					a-entity#s2_dna_single_broken(position="0 0 0" obj-model="obj: #dna_single_model;mtl: #dna_single_material" material="shader: flat; color: white;" rotation="0 0 60")

					a-entity#dead_dna(visible="false")
						a-entity#broken_model_1(collada-model="#dna_broken_model" rotation="0 0 60")

						a-entity#broken_model_2(collada-model="#dna_broken_model" position="-0.05 0.25 0.09" rotation="32 0 -120")
							a-animation#break_animation(begin="kill-cell" dur="8000" attribute="position" to="4 -2 0.10" easing="linear")

					a-entity#parp-inhibitor-break(position="-10 1.5 0" obj-model="obj: #parp_model;mtl:#parp_mat;" material="shader: flat; color: white; src: #parp_texture")
						a-animation(begin="scene-start" attribute="position" to="0 0 0" dur="5000" easing="linear")
						a-animation(attribute="rotation" to="0 360 0" dur="12000" repeat="indefinite" easing="linear")
						a-animation#parp-inhibitor-break-exit(begin="scene-start" attribute="position" delay="15000" from="0 0 0" to="20 -5.5 0" dur="5000" easing="linear")

						a-sphere#inhibitor(position="0.35 0.15 -0.20" color="#16b44b" radius="0.3")
			
			a-camera#camera(position="0 2 5" target="#stage" distance="5" orbit-controls look-controls-enabled=false wasd-controls-enabled=true)
