*{
	box-sizing:border-box;
}


.logo{
	position: absolute;
	z-index: 100;
	width: 150px;
	right: 25px;
	top: 25px;
}

#intro, #outro{
	height:100%;
	width:100%;
	background: url("../images/background.jpg");
	background-size:cover;
	position:absolute;
	z-index:99;


	color:#ccc;


	.intro-content{
    background: rgba(0,0,0,0.4);
    text-align: center;
    width:100%;
    height:100%;
    padding:10px;
    font-size: 1.5rem;
    font-family: "Helvetica";


    // transform: translate(-50%, -50%);

    h1{
    	color:#222;
    }

    ul{


    	li{
    		display: inline-block;
    		text-align: center;
    		width:33.3333%;

    		transition: all (0.8);

    		&:hover{
    			cursor: pointer;


    			&~li{opacity:0.2;}
    		}

    		.title{
    			font-size: 1rem;
    			text-transform: uppercase;
    			color:white;
    			font-weight: 400;
    		}


    		.icon{
    			margin:auto;
    			width:100px;
    			height:100px;
    			background-size:100%;
    			background-image:url('../images/webvr.png');
    		}
    	}
    }



    button{
    	display: none;
			width: 80%;
			height: 60px;
			font-size: 2rem;
			text-transform: uppercase;
			background: none;
			border: 1px solid white;
			position: absolute;
			cursor:pointer;
			color:#ccc;

			bottom: 20px;
			left: 50%;
			transform: translate(-50%);
    }

    progress{
    	position:absolute;
    	bottom:20px;
    	transform: translate(-50%);
    	width:80%;
    	height:60px;
    }
	}
}


#outro{
	.intro-content{
		text-align:left;
		font-size: 1.2rem;
	}
	ul{
		list-style:none;
		margin:0;
		padding:0;

		li{
			margin-bottom:10px;
		}

	}

	a{
			color:black;
		}
}

@media (min-width:100px) and (max-width: 720px) {
	
	.logo{
		width:100px;
		top:10px;
	}

	#intro .intro-content, 
	#outro .intro-content{
		width:250px;
		height:400px;
		top:55%;
	}

}