.logo{
	position: absolute;
	z-index: 100;
	width: 150px;
	right: 25px;
	top: 25px;
}

.tabs a{
	border:none;
}

progress[value] {
    /* Get rid of the default appearance */
    appearance: none;
    
    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
    
    /* Add dimensions */
    width: 200px; height: 20px;
    
  /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    
    position: relative;
    margin: 0 0 1.5em; 
}

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    background-color:#31b473;
}

#outro, #removeHeadset{
	height:100%;
	background: #4f6a7d;
	background-size:cover;
	z-index:99;
	color:#ccc;
	justify-content:center;
	align-items:center;
}

#outro .container{
	padding: 50px;
	color:white;
	text-align:center;
}

.read-more-list{
	list-style:none;

	a{
		color: white;
		font-size: 1.4rem;
	}

	li{
		margin-bottom:25px;
	}
}
.chrome-message{
	padding:20px;
}